/*
:root {
  --primary-color: darkseagreen;
  --secondary-color: #779377;
  --color-3: #fff;
  --color-4: #c6ebc6;
}

:root{
  --primary-color: #ffa1d0;
  --secondary-color: #ff7cb3;
  --color-3: #fff;
  --color-4: #eb5d98;
} 
*/

:root{
  --primary-color: #e0e0e0;
  --secondary-color: #b6b6b6;
  --color-3: #fff;
  --color-4: #636363;
} 


body {
    font-family: 'Devin Chavez Font', sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 50px;
}

h1, h2 {
    color: var(--color-4);
}

select{
    padding: 10px;
    cursor: pointer;
}

.upload-section, .download-section, .delete-section {
    margin-bottom: 30px;
}

.upload-section form{
    max-width: 500px;
    gap: 3px;
}

.upload-section input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.upload-section button {
    padding: 10px;
    background-color:  var(--primary-color);
    color: #fff;
    border: 1px solid var(--color-4);
    border-radius: 4px;
    cursor: pointer;
}

.upload-section button:hover {
    background-color:  var(--primary-color);
}

.tab-content {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    /* border: 1px solid lime; */
    padding: 10px;
    background-color:  var(--color-4);
}

.tabs{
    display: flex;
    flex-direction: row;
    user-select: none;
}

.tabs div{
    margin: 10px 10px 0 10px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-3);;
    width: 15rem;
}

.tabs .selected{
    background-color: var(--color-4);;
}

.tabs div:hover{
    color:#6e6e6e;
}


.file-item {
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
    height: 500px;
    background-color: #ffff;
}

.file-options{
    margin: 10px;
    border-top: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.file-preview {
    width: 90%;
    height: 90%;
    object-fit:contain;
    border-radius: 4px;
    image-rendering: pixelated;
}

.file-item a {
    color: #007BFF;
    text-decoration: none;
    border: 1px solid #6e6e6e;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.file-item a:hover {
    text-decoration: underline;
    background-color: #adadad;
}

.file-item.selected{
    border: 2px solid black;
    background: #e7e7e7;
}

.file-item span{
    justify-content: space-evenly;
}
